.services {
    padding: 70px 20px;
    background-color: white;

    &-wrapper {
        display: flex;
        margin: 0 auto;
    }
    &__header {
        
        margin-bottom: 50px;
        span {
            text-transform: uppercase;
            color: $primary-color;
        }

    }
    &__items {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__item {
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        transition: all 0.3s ease;
        &_img {
            display: block;
            width: 60%;
            
        }
        &_header {
            min-height: 50px;
            margin-top: 20px;
            font-size: 24px;
            font-weight: 400;
            text-align: center;

        }
        &_descr {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            text-align: center;
        }
        .more {
            position: absolute;
            bottom: 30px;
            a {
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
        &:hover {
            box-shadow: 0px 5px 10px 5px rgba($color: #000000, $alpha: 0.2);
            .more {
                a {
                    text-decoration: underline;
                    color: $primary-color;
                }
            }
        }
    }
}